onemoney-service/src/main/resources/xsd/result.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cps.huawei.com/cpsinterface/result" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cps.huawei.com/cpsinterface/result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="common.xsd" namespace="http://cps.huawei.com/cpsinterface/common" />
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Version" type="xs:string" />
                <xs:element name="OriginatorConversationID" type="xs:string" />
                <xs:element name="ConversationID" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResultType" type="xs:int" />
                <xs:element name="ResultCode" type="xs:int" />
                <xs:element name="ResultDesc" type="xs:string" />
                <xs:element name="TransactionResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TransactionID" type="xs:string" />
                            <xs:element name="ResultParameters">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="ResultParameter">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element xmlns:q1="http://cps.huawei.com/cpsinterface/common" ref="q1:Key" />
                                                    <xs:element xmlns:q2="http://cps.huawei.com/cpsinterface/common" ref="q2:Value" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>