emola-service/src/main/resources/wsdl/emola.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.bccsgw.viettel.com/"
                  targetNamespace="http://webservice.bccsgw.viettel.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://webservice.bccsgw.viettel.com/">
            <xs:element name="gwOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Input">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="username" type="xs:string"/>
                                    <xs:element name="password" type="xs:string"/>
                                    <xs:element name="wscode" type="xs:string"/>
                                    <xs:element name="rawData" type="xs:string"/>
                                    <xs:element maxOccurs="unbounded" name="param">
                                        <xs:complexType>
                                            <xs:attribute name="name" type="xs:string"/>
                                            <xs:attribute name="value" type="xs:string"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="gwOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="error" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                    <xs:element name="return" type="xs:string"/>
                                    <xs:element name="original" type="xs:string"/>
                                    <xs:element name="gwtransid" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="gwOperationResponse">
        <wsdl:part element="tns:gwOperationResponse" name="gwOperationResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmolaPayment">
        <wsdl:operation name="gwOperation">
            <wsdl:output message="tns:gwOperationResponse" name="gwOperationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmolaPaymentSoap11" type="tns:EmolaPayment">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="gwOperation">
            <soap:operation soapAction=""/>
            <wsdl:output name="gwOperationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmolaPaymentService">
        <wsdl:port binding="tns:EmolaPaymentSoap11" name="EmolaPaymentSoap11">
            <soap:address location="http://localhost:8387/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>